services:
  indojuni:
    image: indojuni:latest
    container_name: indojuni
    ports:
      - 8001:8000
    healthcheck:
      test: curl --fail http://localhost:8001/api/ping || exit 1
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 60s
    restart: unless-stopped
