.btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}

.scrollarea {
    overflow-y: auto;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
